:root {
  /*
    Colours
  */

  --green: rgb(52, 198, 72);
  --red: rgb(252, 96, 92);
  --yellow: rgb(252, 187, 64);

  --green-dark: rgb(9, 97, 11);
  --red-dark: rgb(152, 5, 13);
  --yellow-dark: rgb(176, 111, 29);

  /*
    Sizes
  */

  --virtual-window-height: 500px;
  --virtual-window-width: 80%;
  --virtual-window-tray-icon-size: 112px;
  --virtual-window-border-radius: 12px;

  --menu-bar-height: 32px;
  --menu-bar-button-size: 12px;
  --menu-bar-button-space-between: 6px;

  --content-height: calc(var(--virtual-window-height) - var(--menu-bar-height));

  --social-icons-height: 32px;

  --social-icon-space-between: 8px;

  --logo-size: 20px;
  --logo-space-between: 4px;

  --profile-photo-border-radius: 50%;
  --profile-photo-size: 100px;
  --profile-photo-outline-size: calc(var(--profile-photo-size) + 10px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
}

body,
html {
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 33);
  color: #bdbdbd;
  line-height: 22px;
}

main {
  position: absolute;
  z-index: 1;
  width: var(--virtual-window-width);
  height: var(--virtual-window-height);
  border-radius: var(--virtual-window-border-radius);
  background-color: rgb(41, 41, 43);
  box-shadow: 0px 5px 14px rgb(27, 27, 28);

  transition: width 2s, height 2s, transform 2s;
}

h1 {
  margin-bottom: 16px;
}

p {
  margin-bottom: 8px;
}

#content {
  height: var(--content-height);
  overflow-y: scroll;
  padding: 16px 32px;

  transition: padding 2s, transform 2s;
}

#background-wallpaper {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;

  transition: height 1s, opacity 1s, transform 1s;
}

#menu-bar {
  display: flex;
  align-items: center;
  height: var(--menu-bar-height);
  border-top-left-radius: var(--virtual-window-border-radius);
  border-top-right-radius: var(--virtual-window-border-radius);
  padding-left: 12px;
  background-color: rgb(36, 36, 36);

  transition: height 2s, opacity 2s;
}

#profile-photo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 16px;

  transition: padding 2s, transform 2s;
}

#profile-photo-outline {
  border-radius: var(--profile-photo-border-radius);
  width: var(--profile-photo-outline-size);
  height: var(--profile-photo-outline-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 63, 66);
}

#profile-photo {
  border-radius: var(--profile-photo-border-radius);
  width: var(--profile-photo-size);
  height: var(--profile-photo-size);
}

#social-icons {
  display: flex;
  margin-top: 8px;
  height: var(--social-icons-height);

  transition: height 2s, opacity 2s;
}

#social-icons > .social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-icons > .social-icon-container + .social-icon-container {
  margin-left: var(--social-icon-space-between);
}

.social-icon-container * {
  width: 20px;
  height: 20px;
}

.social-icon-container a:hover {
  color: rgb(230, 230, 230);
}

#technologies {
  max-width: 300px;

  transition: max-width 2s;
}

#technologies > .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#window.minimized {
  width: var(--virtual-window-tray-icon-size);
  height: var(--virtual-window-tray-icon-size);
  cursor: pointer;
  overflow: hidden;
}

#window.minimized > #menu-bar {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#window.minimized #social-icons {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#window.minimized #introduction-container {
  height: 0;
  opacity: 0;
}

#window.minimized #content {
  padding: 0;
  height: var(--virtual-window-tray-icon-size);
  overflow: hidden;
}

#window.minimized #profile-photo-container {
  transform: scale(0.75);
}

#window.maximized {
  width: 100vw;
  height: 100vh;
}

#window.maximized #content {
  height: unset;
  max-height: 100%;
}

#window.maximized #technologies {
  max-width: 100%;
}

button {
  transition: height 2s, opacity 2s;
}

a.text-link {
  text-decoration-line: underline;
  text-decoration-color: rgb(59, 93, 222);
  text-decoration-thickness: 2px;
}

a.text-link:hover {
  text-decoration-style: solid;
  color: rgb(59, 93, 222);
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--menu-bar-button-size);
  height: var(--menu-bar-button-size);
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  margin: 4px;
}

.logo--mobiz {
  height: var(--logo-size);
  width: auto;
  margin: 0 0 -2px;
}

.icon {
  fill: currentColor;
}

.menu-button .icon {
  stroke: currentColor;
  display: none;
  height: 50%;
  width: 50%;
}

.menu-button:hover .icon {
  display: block;
}

.menu-button + .menu-button {
  margin-left: var(--menu-bar-button-space-between);
}

.red {
  background-color: var(--red);
  color: var(--red-dark);
}

.yellow {
  background-color: var(--yellow);
  color: var(--yellow-dark);
}

.green {
  background-color: var(--green);
  color: var(--green-dark);
}

@media screen and (min-width: 750px) {
  :root {
    --virtual-window-height: 450px;
    --virtual-window-width: 700px;
  }

  main {
    height: var(--virtual-window-height);
    width: var(--virtual-window-width);
  }

  #content {
    padding: 32px 32px 32px 0;
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
  }
}
