:root {
  --green: rgb(52, 198, 72);
  --red: rgb(252, 96, 92);
  --yellow: rgb(252, 187, 64);

  --dark-green: rgb(9, 97, 11);
  --dark-red: rgb(152, 5, 13);
  --dark-yellow: rgb(176, 111, 29);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
}

body,
html {
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 33);
  color: #bdbdbd;
}

main {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 400px;
  border-radius: 12px;
  background-color: rgb(41, 41, 43);
  box-shadow: 0px 5px 14px rgb(27, 27, 28);

  transition: width 2s, height 2s, transform 2s;
  /* transition: width 2s, height 2s, top 2s, left 2s, transform 2s; */
  /* transition: all 2s; */
}

h1 {
  margin-bottom: 16px;
}

p {
  margin-bottom: 8px;
}

#content {
  flex: auto;
  padding: 16px;
  display: grid;
  grid-template-rows: 1fr 2fr;

  transition: padding 2s, transform 2s;
}

#background-wallpaper {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

#introduction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;

  transition: height 1s, opacity 1s, transform 1s;
}

#menu-bar {
  display: flex;
  align-items: center;
  height: 32px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 12px;
  background-color: rgb(36, 36, 36);

  transition: height 2s, opacity 2s;
}

#profile-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: padding 2s, transform 2s;
}

#profile-photo-outline {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 63, 66);
}

#profile-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#social-icons {
  display: flex;
  margin-top: 8px;
  height: 32px;

  transition: height 2s, opacity 2s;
}

#social-icons > .social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-icons > .social-icon-container + .social-icon-container {
  margin-left: 8px;
}

.social-icon-container * {
  width: 24px;
  height: 24px;
}

#social-icons .icon:hover {
  color: rgb(199, 132, 255);
}

#window.minimized {
  cursor: pointer;
  overflow: hidden;

  width: 112px;
  height: 112px;
}

#window.minimized > #menu-bar {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#window.minimized #social-icons {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#window.minimized #introduction-container {
  height: 0;
  opacity: 0;
}

#window.minimized #content {
  padding: 0;
}

#window.minimized #profile-photo-container {
  transform: scale(0.75);
}

#window.maximized {
  width: 100vw;
  height: 100vh;
}

button {
  transition: height 2s, opacity 2s;
}

a.text-link {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgb(199, 132, 255);
}

a.text-link:hover {
  text-decoration-style: solid;
  color: rgb(199, 132, 255);
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  fill: currentColor;
  stroke: currentColor;
}

.menu-button .icon {
  display: none;
  height: 50%;
  width: 50%;
}

.menu-button:hover .icon {
  display: block;
}

.menu-button + .menu-button {
  margin-left: 6px;
}

.red {
  background-color: var(--red);
  color: var(--dark-red);
}

.yellow {
  background-color: var(--yellow);
  color: var(--dark-yellow);
}

.green {
  background-color: var(--green);
  color: var(--dark-green);
}

@media screen and (min-width: 650px) {
  main {
    width: 700px;
    height: 400px;
  }

  #content {
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
  }
}
